<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag 'mlogo.jpg' %>
  <title>Menelik Tucker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor", :debug => false %>
  </head>
  <body>
    <section class="body">

      <header class="z-depth-1">
        <%= link_to "Menelik Tucker ", root_path, class: "left root-link" %>
        <span class="left full-stack automatic-typing">FULL STACK DEVELOPER</span>
        <span class="hide-on-small-only">
          <%= link_to fa_icon("stack-overflow"), "http://stackoverflow.com/users/4535724/menelik-tucker" %> &middot;
          <%= link_to fa_icon("github"), "https://github.com/mtuck063" %>  &middot;
          <%= link_to fa_icon("twitter"), "https://twitter.com/MenelikTucker" %>
        </span>
      </header>

      <%= yield %>

    </section>
  </body>
</html>
